{% extends "AdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajouter une annonce{% endblock %}

{% block body_admin %}
   
   <h2>Ajouter une annonce</h2>
   
   {{ include("AdminBundle:Admin:form.html.twig") }}
   
{% endblock %}
