<html>
    <body>
       <p>
            Cet email vous a été transmi via le formulaire de contact de votre site internet : www.simonelalande.fr (vous pouvez y répondre directement pour contacter l'expéditeur). 
       </p>

        <p>
            Nom : {{ nom }} <br>
            Prénom : {{ prenom }}
        </p>
        
        <p>
            {{ contenu|nl2br }}
        </p>
    </body>
</html>
