{% extends "WebsiteBundle::layout.html.twig" %}



{% block website_title %}Sophrologie{% endblock %}

{% block website_description %}de Sophrologie{% endblock %}

{% block sophrologie %}style="background-color: rgb(253,172,83); color: rgb(128,51,0);"{% endblock %}


{% block website_h1 %}Sophrologie{% endblock %}

{% block website_body %}
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - Introduction  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <div id="introduction">
        <aside>
            <img width="200" height="240" src="{{ asset('bundles/website/images/sophrologie.jpg') }}" alt="Image de sophrologie" />
        </aside>

        <div>
            <p><strong>La Sophrologie</strong> est une <strong>discipline psychocorporelle</strong> axée sur un processus de relaxation profonde statique et dynamique et de visualisation créatrice, visant la prise de conscience de nos propres processus (physiques, émotionnels, psychiques), école des ressources pour être en harmonie avec soi-même et avec les autres.</p>

            <p><strong>L'inconscient</strong> réagissant autant à l'imaginaire qu'aux faits réels, la sophrologie permet de vivre des expériences intégrées en conscience, de développer notre potentiel, de reprendre contact avec notre intuition et d'accorder harmonieusement nos objectifs avec notre moi profond.</p> 

            <p><br /></p>

            <p><strong>Pour en savoir plus sur les séances que je propose <a href="{{ path('website_homepage') }}#seances"><em>cliquez ici !</em></a></strong></p>
        </div>          
    </div>


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - Première section  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <section>
        <h2>D'où vient-elle ?</h2>

        <p>La Sophrologie a été créée en 1960 par Alfonso Caycedo, médecin neuropsychiatre. Il fit l'hypothèse de l'existence d'un état de conscience harmonieux dit "sophronique", fondant ainsi l'objectif premier de la Sophrologie.</p>

        <div class="div_perso">
            <p>Venant du grec :</p>
            <ul>
                <li>"sos" : <span class="orange">harmonie</span></li>
                <li>"phren" : <span class="orange">conscience</span></li>
                <li>"logos" : <span class="orange">étude</span></li>
            </ul>
            <div style="text-align: center;">
                <p class="orange"><em>"Étude du développement et de l'harmonie de la conscience"</em></p>
            </div>

        </div>

    </section>


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - Section 2  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <section>
        <h2>Utilisation de la Sophrologie</h2>

        <p>Utilisée dans les domaines de la thérapie, de la psychologie, de la pédagogie, des sciences humains et sociales ou encore du sport, <strong>la Sophrologie</strong> est efficacement employée pour : </p>
        <ul>
            <li>Gestion du stress et des émotions</li>
            <li>Optimisation du sommeil</li>
            <li>Développement de la confiance en soi</li>
            <li>Lâcher-prise du mental</li>
            <li>Préparation d'examens ou concours</li>
            <li>Développement de nos ressources</li>
            <li>Gestion de la douleur</li>
            <li>Préparation à l'accouchement</li>           
        </ul>

        <p>Vous souhaitez en savoir plus sur la Sophrologie et ses outils, contactez-moi directement en <a href="{{ path('website_contact') }}#page_contact"><em>cliquant ici !</em></a></p>


    </section>

{% endblock %}

{% block category %}Sophrologie{% endblock %}
