{% extends "::layout.html.twig" %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('form/css/form.css') }}" type="text/css">  
{% endblock %}

{% block body %}
   
   <h1 style="padding-bottom:30px;">Administration</h1>
   
   {% block body_admin %}
   
   {% endblock %}
   
{% endblock %}