.form, .form-contact {
    padding: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.form-group,.form-group-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.form-label {
    margin-right: 20px;
    text-align: right;
    width: 25%;
}

.form-label-contact {
    margin-right: 20px;
    text-align: right;
    width: 10%;
}

.bold {
    font-weight: bold;
}

.form-label label,.form-label-contact label {
    vertical-align: middle;
    padding-top: 6px;
}

.form-field {
    width: 75%;
}

.form-field-contact {
    width: 90%;
}

.form-widget {
    width: 100%;
    padding-left: 10px;
    height: 1.8em;
    font-size: 1em;
    border: none;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-widget:focus {
    outline: none;
    box-shadow: 0 0 0.4em #7eb9d8;
    border-color: #7eb9d8; 
}

.form select, .form-contact select {
    display: inline-block;
    background-color: transparent;
    border: none;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    padding: 4px 4px 4px 10px;
    margin-right: 5px;
}

.form-check-boxes input {
    margin-right: 5px;
}

.form-check-boxes label {
    margin-right: 10px;
}

.text-area {
    height: 100px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 5px;
}

.text-area-contact {
    height: 200px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 5px;
}

@media all and (max-width: 600px) {
    .form-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .form-label {
        margin: 0 0 5px 0;
        text-align: left;
        width: 100%;
    }
    
    .form-field {
        width: 100%;
    }
}

@media all and (max-width: 900px) {
    .form-group-contact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .form-label-contact {
        margin: 0 0 5px 0;
        text-align: left;
        width: 100%;
    }
    
    .form-field-contact {
        width: 100%;
    }
}


/* Bouton d'envoye */
.btn-submit {
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #408ccb;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-submit:hover {
    background-color: #2e72a9;
}

.btn-cancel {
    display: inline-block;
    padding: 9px 17px 9px 17px;
    margin-bottom: 4px;
    border-radius: 5px;
    font-size: 1em;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: rgb(74, 74, 74);
    background-color: #fff;
    border-color: #ccc;
}

.btn-cancel:hover {
    text-decoration: none;
    background-color: #e8e8e8;
}


/* Erreurs */
.form li, .form-contact li {
    color: red;
    background: url(../../glyphicon/warning.jpg) no-repeat left top;
    padding: 0px 0px 5px 25px;
    list-style: none;
    margin: 0;
}

.form ul {
    margin-left: 22%;
    margin-top: -10px;
}

.form-contact ul {
    margin: -10px 0 20px 7%;
}

@media all and (max-width: 600px) {
    .form ul {
        margin-left: -40px;
    }
}

@media all and (max-width: 900px) {
    .form-contact ul {
        margin-left: -40px;
    }
}